{% load static %}
<nav id="sidebar" class="sidebar">
	<div class="sidebar-content js-simplebar">
		<a class="sidebar-brand" href="/CRM/theme/index"><span class="align-middle">AdminKit</span></a>

		<ul class="sidebar-nav">
			<li class="sidebar-header">
				Pages
			</li>
			<!-- Nav List Start -->
			{% block content %}

			{% if page == 'Dashboard' %}
			<li class="sidebar-item active">
			{% else %}
			<li class="sidebar-item">
			{% endif %}
				<a class="sidebar-link" href="/CRM/theme/index">
					<i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Dashboard</span>
				</a>
			</li>

			{% if page == 'Profile' or page == 'Settings' %}
			<li class="sidebar-item active">
			{% else %}
			<li class="sidebar-item">
			{% endif %}
				<a data-target="#mypage" data-toggle="collapse" class="sidebar-link collapsed">
					<i class="align-middle" data-feather="user"></i> <span class="align-middle">MyPage</span>
				</a>
				<!-- MyPage 세부 List -->
				<ul id="mypage" class="sidebar-dropdown list-unstyled collapse " data-parent="#sidebar">
					<li class="sidebar-item"><a class="sidebar-link" href="/CRM/theme/profile">Profile</a></li>
					<li class="sidebar-item"><a class="sidebar-link" href="/CRM/theme/settings">Settings</a></li>
				</ul>
			</li>

			{% if page == 'Blank' %}
			<li class="sidebar-item active">
			{% else %}
			<li class="sidebar-item">
			{% endif %}
				<a class="sidebar-link" href="/CRM/theme/blank">
					<i class="align-middle" data-feather="book"></i> <span class="align-middle">수강생관리</span>
				</a>
			</li>

			{% if page == 'Blank' %}
			<li class="sidebar-item active">
			{% else %}
			<li class="sidebar-item">
			{% endif %}
				<a data-target="#board" data-toggle="collapse" class="sidebar-link collapsed">
					<i class="align-middle" data-feather="book"></i> <span class="align-middle">게시판</span>
				</a>
				<ul id="board" class="sidebar-dropdown list-unstyled collapse " data-parent="#sidebar">
					<li class="sidebar-item"><a class="sidebar-link"
												href="/CRM/theme/blank">공지사항</a></li>
					<li class="sidebar-item"><a class="sidebar-link"
												href="/CRM/theme/blank">자유게시판</a></li>
					<li class="sidebar-item"><a class="sidebar-link"
												href="/CRM/theme/blank">설문조사</a></li>
					<li class="sidebar-item"><a class="sidebar-link"
												href="/CRM/theme/blank">Q&A</a></li>
					<li class="sidebar-item"><a class="sidebar-link"
												href="/CRM/theme/blank">자료게시판</a></li>

				</ul>
			</li>

			{% if page == 'Blank' %}
			<li class="sidebar-item active">
			{% else %}
			<li class="sidebar-item">
			{% endif %}
				<a class="sidebar-link" href="/CRM/theme/blank">
					<i class="align-middle" data-feather="book"></i> <span class="align-middle">스터디룸</span>
				</a>
			</li>

			{% if page == 'Blank' %}
			<li class="sidebar-item active">
			{% else %}
			<li class="sidebar-item">
			{% endif %}
				<a class="sidebar-link" href="/CRM/theme/blank">
					<i class="align-middle" data-feather="book"></i> <span class="align-middle">시간표조회</span>
				</a>
			</li>

			{% if page == 'Blank' %}
			<li class="sidebar-item active">
			{% else %}
			<li class="sidebar-item">
			{% endif %}
				<a class="sidebar-link" href="/CRM/theme/blank">
					<i class="align-middle" data-feather="book"></i> <span class="align-middle">성적</span>
				</a>
			</li>

			{% if page == 'Blank' %}
			<li class="sidebar-item active">
			{% else %}
			<li class="sidebar-item">
			{% endif %}
				<a class="sidebar-link" href="/CRM/theme/blank">
					<i class="align-middle" data-feather="book"></i> <span class="align-middle">상담일지</span>
				</a>
			</li>

			{% if page == 'Blank' %}
			<li class="sidebar-item active">
			{% else %}
			<li class="sidebar-item">
			{% endif %}
				<a class="sidebar-link" href="/CRM/theme/blank">
					<i class="align-middle" data-feather="book"></i> <span class="align-middle">평가(강사, 수강생, 기관)</span>
				</a>
			</li>

			<li class="sidebar-header">삭제 게시판</li>

			{% if page == 'Invoice' %}
			<li class="sidebar-item active">
			{% else %}
			<li class="sidebar-item">
			{% endif %}
				<a class="sidebar-link" href="/CRM/theme/invoice">
					<i class="align-middle" data-feather="credit-card"></i> <span class="align-middle">invoice</span>
				</a>
			</li>

			<li class="sidebar-header">Tools & Components</li>

			{% if page == '01-alerts.html' or page == '02-buttons.html' or page == '03-cards.html' or page == '04-general.html' or page == '05-grid.html' or page == '06-modals.html' or page == '07-typography.html'%}
			<li class="sidebar-item active">
			{% else %}
			<li class="sidebar-item ">
			{% endif %}
				<a data-target="#ui" data-toggle="collapse" class="sidebar-link collapsed">
					<i class="align-middle" data-feather="briefcase"></i> <span class="align-middle">UI Elements</span>
				</a>
				<ul id="ui" class="sidebar-dropdown list-unstyled collapse " data-parent="#sidebar">
					<li class="sidebar-item"><a class="sidebar-link"
												href="/CRM/theme/UI_Element/page=01-alerts.html">Alerts</a></li>
					<li class="sidebar-item"><a class="sidebar-link"
												href="/CRM/theme/UI_Element/page=02-buttons.html">Buttons</a></li>
					<li class="sidebar-item"><a class="sidebar-link"
												href="/CRM/theme/UI_Element/page=03-cards.html">Cards</a></li>
					<li class="sidebar-item"><a class="sidebar-link"
												href="/CRM/theme/UI_Element/page=04-general.html">General</a></li>
					<li class="sidebar-item"><a class="sidebar-link"
												href="/CRM/theme/UI_Element/page=05-grid.html">Grid</a></li>
					<li class="sidebar-item"><a class="sidebar-link"
												href="/CRM/theme/UI_Element/page=06-modals.html">Modals</a></li>
					<li class="sidebar-item"><a class="sidebar-link"
												href="/CRM/theme/UI_Element/page=07-typography.html">Typography</a></li>
				</ul>
			</li>

			{% if page == 'Icons' %}
			<li class="sidebar-item active">
			{% else %}
			<li class="sidebar-item">
			{% endif %}
				<a class="sidebar-link" href="/CRM/theme/icons">
					<i class="align-middle" data-feather="coffee"></i> <span class="align-middle">Icons</span>
				</a>
			</li>

			{% if page == '01-layouts.html' or page == '02-basic-inputs'%}
			<li class="sidebar-item active">
			{% else %}
			<li class="sidebar-item">
			{% endif %}
				<a data-target="#forms" data-toggle="collapse" class="sidebar-link collapsed">
					<i class="align-middle" data-feather="check-circle"></i> <span class="align-middle">Forms</span>
				</a>
				<ul id="forms" class="sidebar-dropdown list-unstyled collapse " data-parent="#sidebar">
					<li class="sidebar-item"><a class="sidebar-link" href="/CRM/theme/forms/page=01-layouts.html">Form Layouts</a></li>
					<li class="sidebar-item"><a class="sidebar-link"
												href="/CRM/theme/forms/page=02-basic-inputs.html">Basic Inputs</a></li>
				</ul>
			</li>

			{% if page == 'Tables' %}
			<li class="sidebar-item active">
			{% else %}
			<li class="sidebar-item">
			{% endif %}
				<a class="sidebar-link" href="/CRM/theme/tables">
					<i class="align-middle" data-feather="list"></i> <span class="align-middle">Tables</span>
				</a>
			</li>

			<li class="sidebar-header">Plugins & Addons</li>

			{% if page == 'Charts' %}
			<li class="sidebar-item active">
			{% else %}
			<li class="sidebar-item">
			{% endif %}
				<a class="sidebar-link" href="/CRM/theme/charts">
					<i class="align-middle" data-feather="bar-chart-2"></i> <span class="align-middle">Charts</span>
				</a>
			</li>

			{% if page == 'Maps' %}
			<li class="sidebar-item active">
			{% else %}
			<li class="sidebar-item">
			{% endif %}
				<a class="sidebar-link" href="/CRM/theme/maps">
					<i class="align-middle" data-feather="map"></i> <span class="align-middle">Maps</span>
				</a>
			</li>
		</ul>
		{% endblock %}

		<div class="sidebar-cta">
			<div class="sidebar-cta-content">
				<strong class="d-inline-block mb-2">Upgrade to Pro</strong>
				<div class="mb-3 text-sm">
					Are you looking for more components? Check out our premium version.
				</div>
				<a href="https://adminkit.io/pricing" target="_blank" class="btn btn-primary btn-block">Upgrade to
					Pro</a>
			</div>
		</div>
	</div>
</nav>